{% extends 'GGEZ/plantillaCompra.html'%}


{% load static %}



{% block contenido %}


<div class="container">




  <div class="row">
    <!--<div class="container text-center">-->


    {% for p in productos3 %}
    <div class="col-md-4 text-center">
      <div class="card " style="margin-top: 15px;">

        {% if p.imagenSkin3 %}
        <img src="{{p.imagenSkin3.url}}" class="card-img-top" alt="sin imagen" style="height: 230px">
        {% endif %}
        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">{{p.nombreSkin3}}</h5>
          <p class="card-text" style="text-align: center;">{{p.nombreUsuario3}}</p>
          <p class="card-text" style="text-align: center;">{{p.precio3}} CLP</p>
          <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>

        </div>

      </div>
    </div>
    {% endfor %}














      <!--<div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="margin-top: 15px">
            <img src="{% static 'GGEZ/img/ak-47.jpg' %}" class="card-img-top" alt="..." style="height: 230px">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">AK-47 Bloodsport</h5>
              <p class="card-text" style="text-align: center;">Huasito_stelar</p>
              <p class="card-text" style="text-align: center;">50.000 CLP</p>
              <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>

            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card" style="margin-top: 15px">
            <img src="{% static 'GGEZ/img/awp.jpg' %}" class="card-img-top" alt="..." style="height: 230px">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">AWP Fever Dream</h5>
              <p class="card-text" style="text-align: center;">nicoRIKO</p>
              <p class="card-text" style="text-align: center;">6.000 CLP CLP</p>
              <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>

            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card" style="margin-top: 15px">
            <img src="{% static 'GGEZ/img/karambit.jpg' %}" class="card-img-top" alt="..." style="height: 230px">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">AWP Fever Dream</h5>
              <p class="card-text" style="text-align: center;">nicoRIKO</p>
              <p class="card-text" style="text-align: center;">6.000 CLP CLP</p>
              <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>

            </div>
          </div>
        </div>

      </div>
    </div>-->









  </div>
</div>




{% endblock %}

