{% extends 'GGEZ/plantillaCompra.html'%}

{% load static %}




{% block contenido %}

<div class="container">

  <div class="row">


   <div class="col-md-4 text-center">
     <div class="card " style= "margin-top: 15px;">

       <img src="{% static 'GGEZ/img/vandal.jpg' %}" class="card-img-top" alt="vandal" style="height: 230px">

       <div class="card-body">

         <h5 class="card-title" style="text-align: center;" >Vandal Prime</h5>
         <p class="card-text" style="text-align: center;">Xandler</p>
         <p class="card-text" style="text-align: center;">8.000 CLP</p>
         <a href="{% url 'chatCompra' %}" class="btn btn-dark" >Comprar</a> 

       </div>

     </div> 
   </div> 

   <div class="col-md-4 text-center " >

     <div class="card " style= "margin-top: 15px;">

       <img src="{% static 'GGEZ/img/operator.jpg' %}" class="card-img-top" alt="ecko"  style="height: 230px">

       <div class="card-body">

         <h5 class="card-title" style="text-align: center;" >Operator ElderFlame</h5>
         <p class="card-text" style="text-align: center;">Gatopeniwais</p>
         <p class="card-text" style="text-align: center;">18.000 CLP</p>
         <a href="{% url 'chatCompra' %}" class="btn btn-dark" >Comprar</a>
       </div>

     </div> 


   </div>

   <div class="col-md-4 text-center">


     <div class="card " style= "margin-top: 15px;">

       <img src="{% static 'GGEZ/img/balisong.jpg' %}" class="card-img-top" alt="ecko" style="height: 230px">

       <div class="card-body">

         <h5 class="card-title" style="text-align: center;" >Balisong Recon</h5>
         <p class="card-text" style="text-align: center;">JettLag</p>
         <p class="card-text" style="text-align: center;">20.000 CLP</p>
         <a href="chatCompra.html" class="btn btn-dark" >Comprar</a>



       </div>

     </div> 


   </div>

   </div>


 </div>



{% endblock %}