{% extends 'GGEZ/plantillaCompra.html'%}


{% load static %}



{% block contenido %}

<div class="container">
  <div class="row">

    <div class="col-md-4 text-center">
      <div class="card " style="margin-top: 15px;">

        <img src="{% static 'GGEZ/img/eckoTrueDamage.jpg' %}" class="card-img-top" alt="ecko" style="height: 230px">

        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">Ecko True Damage</h5>
          <p class="card-text" style="text-align: center;">YasuoMain</p>
          <p class="card-text" style="text-align: center;">5.000 CLP</p>
          <a href="chatCompra.html" class="btn btn-dark">Comprar</a>

        </div>

      </div>
    </div>

    <div class="col-md-4 text-center ">

      <div class="card " style="margin-top: 15px;">

        <img src="{% static 'GGEZ/img/sorakaPijamaEstelar.jpg' %}" class="card-img-top" alt="ecko" style="height: 230px">

        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">Soraka Pijama Estelar</h5>
          <p class="card-text" style="text-align: center;">YummiAD</p>
          <p class="card-text" style="text-align: center;">12.000 CLP</p>
          <a href="chatCompra.html" class="btn btn-dark">Comprar</a>

        </div>

      </div>

    </div>

    <div class="col-md-4 text-center">


      <div class="card " style="margin-top: 15px;">

        <img src="{% static 'GGEZ/img/threshFlorEspiritual.jpg' %}" class="card-img-top" alt="ecko" style="height: 230px">

        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">Thresh Flor Espiritual</h5>
          <p class="card-text" style="text-align: center;">GarenAP</p>
          <p class="card-text" style="text-align: center;">9.000 CLP</p>
          <a href="chatCompra.html" class="btn btn-dark">Comprar</a>

        </div>

      </div>

    </div>

  </div>

</div>


{% endblock %}