.titulos{
    color: black; 
    font-size: 37px;
    text-align: right;
    margin: 25px; ;/* sirve para separar elementos */
    padding:20px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

