{% extends 'GGEZ/vistaAdmin/plantillaCompra_Admin.html'%}


{% load static %}


{% block contenido %}

<div class="container">
  <div class="row">

    {% for u in user %}
    <div class="col-md-4 text-center">
      <div class="card " style="margin-top: 15px;">

        
        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">{{u.nombreUsuario}}</h5>
          <p class="card-text" style="text-align: center;">{{u.correo}}</p>
          <p class="card-text" style="text-align: center;">{{u.fechaNac}} CLP</p>
          <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>
         

        </div>

      </div>
    </div>
    {% endfor %}

{% endblock %}