{% extends 'GGEZ/vistaAdmin/plantillaCompra_Admin.html'%}


{% load static %}



{% block contenido %}


<div class="container">




  <div class="row">
    <div class="container text-center">


      {% for p in productos3 %}
    <div class="col-md-4 text-center">
      <div class="card " style="margin-top: 15px;">

        {% if p.imagenSkin3 %}
        <img src="{{p.imagenSkin3.url}}" class="card-img-top" alt="sin imagen" style="height: 230px">
        {% endif %}
        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">{{p.nombreSkin3}}</h5>
          <p class="card-text" style="text-align: center;">{{p.nombreUsuario3}}</p>
          <p class="card-text" style="text-align: center;">{{p.precio3}} CLP</p>
          <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>
          <a href="{% url 'eliminarProducto3' p.id %}" class="btn btn-danger">Eliminar</a>

        </div>

      </div>
    </div>
    {% endfor %}


{% endblock %}