{% extends 'GGEZ/plantillaCompra.html'%}

{% load static %}




{% block contenido %}

<div class="container">

  <div class="row">


    {% for p in productos2 %}
    <div class="col-md-4 text-center">
      <div class="card " style="margin-top: 15px;">

        {% if p.imagenSkin2 %}
        <img src="{{p.imagenSkin2.url}}" class="card-img-top" alt="sin imagen" style="height: 230px">
        {% endif %}
        <div class="card-body">

          <h5 class="card-title" style="text-align: center;">{{p.nombreSkin2}}</h5>
          <p class="card-text" style="text-align: center;">{{p.nombreUsuario2}}</p>
          <p class="card-text" style="text-align: center;">{{p.precio2}} CLP</p>
          <a href="{% url 'chatCompra' %}" class="btn btn-dark">Comprar</a>
          <a href="{% url 'eliminarProducto2' p.id %}" class="btn btn-danger">Eliminar</a>

        </div>

      </div>
    </div>
    {% endfor %}


    {% endblock %}